.container{



}

#mbar{
background-color: #F0E68C;
}

.col-sm-4{
background-color: #E0FFFF;
}

.col-sm-8{
background-color: #E6E6FA;
}



.contain {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}


.darker {
    border-color: #ccc;
    background-color: #ddd;
}


.contain::after {
    content: "";
    clear: both;
    display: table;
}


.contain img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


.contain img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}


.time-right {
    float: right;
    color: #aaa;
}


.time-left {
    float: left;
    color: #999;
}

#alexmessage{
display:none;
}


#copernicusmessage{
display:none;
}



#platomessage{
display:none;
}


#socratesmessage{
display:none;
}


#aristotlemessage{
display:none;
}

#info{
background-color: #F8C471;
}


